<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
 <header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/admin/agregar-producto">Agregar Producto</a></li>
        </ul>
    </nav>
 </header>

 <main>
    <h1>Agregar Producto</h1>
    <form action="/admin/agregar-producto" method="POST">
        <input type="text" id="nombre" name="nombre" required>
        <button type="submit">Agregar Producto</button>
    </form>
 </main>

    
</body>
</html>